html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{font-family: 'Courier New', Courier, monospace;
    
}
.block_main_settings{
    width: 75%;
    margin: auto;
    padding: 0%;

}



.up_logo_block{

    background-color: white;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}


.logo_block{
    
    background-color: white;
    color: rgb(238, 21, 14);
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
   
    
}

.up_buttons_block{
    
    display:flex;
    align-content: space-between;
    
}

.button_login{
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-style: italic;

}

.button_contact{
    color: white;
    border: none;
    background-color: orangered;
    padding: 10px 30px;
    text-transform: uppercase;
    font-style: italic;

}
.fwp{
    text-transform: lowercase;
    color: grey;
    font-size: xx-small;
    font-style: italic;
    margin-left: -1px;

}

    


.menu_block{
    background-color: rgb(55, 57, 59);
}

    

.menu_block_list{
   
    
    display: flex;
    align-items: center;
    
}
.menu_list{
    list-style-type: none;
    display: inline-flex;
    color: aliceblue;
    text-transform: uppercase;
    
       
}

.menu_list li{
    padding: 15px;
}
.home{
    background-color: orangered;
    
}


.content_block h2{
    
    font: bold;
    font-size: xx-large;
    font-weight: 800;
    text-transform: capitalize;
    padding-top: 50px;
    color: rgb(55, 57, 59);
}
.content_text p{
    width: 75%;
    padding-top: 50px;
    font-size: medium;
    font-weight: 400;

}

.content_list{
   margin-top: 25px;
   font-size: large;
   font-weight: bold;
   color: rgb(55, 57, 59);
    
}

.content_list span{
    text-transform: uppercase;
}

/*відображення не з ліва, а ближче до центру*/
.key_features_list{
    display: inline-flex;
    margin-left: 20px;
    padding-top: 15px;
}

.recent_news{
    display: inline-flex;
    padding-top: 50px;
    text-transform: uppercase;
    color: red;
    font-weight: 500;
    font-size: small;
}
/*блок з фото*/
.gallerey_block{
    padding-top: 15px;
    
}

.photo_block{
    width: 14%;
    float: left;
    margin: 2px;
}
.image{
    height: 100px;
    
}

.image img{
    width: 100%;
    height: 100%;
}

.image_text{
    
    min-height: 300px;
    text-align: center;
}    

@media (max-width: 425px){
    .up_logo_block{
        display: block;
    }
    .menu_list{
        display: block;
    }
    .photo_block{
        width: 100%;
        display: block;
    }
}
