html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.body{
    
}




.up_logo_block{

    background-color: white;
}

.empty_left_side_logo_block{
    
    width: 100px;
    height: 100px;
    float: left;
    
}

.logo_block{
    width: 1000px;
    height: 100px;
    background-color: aqua;
    color: rgb(238, 21, 14);
    text-transform: uppercase;
    font-size: xx-large;
    display: flex;
    align-items: center;
}


    



.empty_right_side_logo_block{
    width: 100px;
    height: 100px;
    float: right;
    
    

}


.menu_block{
    background-color: rgb(55, 57, 59);
    
    

}
.menu_block_left_empty{
    
    width: 100px;
    height: 100px;
    float: left;
    

}
.menu_block_list{
   
    width: 1000px;
    height: 100px;
    display: flex;
    align-items: center;
    
}
.menu_list{
    list-style-type: none;
    display: inline-flex;
    color: aliceblue;
    text-transform: uppercase;
       
}

.home{
    background-color: orangered;
    margin-right: 20px;
}

.about{
    margin-right: 20px;
}
.menu_block_right_empty{
    
    width: 100px;
    height: 100px;
    float: right;
    


}