html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.all_page_block{
    background-color: #070707;
}

.header_container{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.top_menu{
    width: 75%;
    margin: auto;
    text-align: right;
}
.top_list{
    color: white;
    display: inline-flex;
    margin: 20px;
    list-style-type: none;
    text-transform: uppercase;
    font-size: larger;
    
}

.top_list li{
    padding: 20px;
}
.cat_menu_block{
    width: 100%;
    background-color: #666666;
    height: 100px;
    
}
.cat_menu{
    width: 75%;
    margin: auto;
    
    
}
.logo{
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0;
}

.logo_text{
    color: #844CD4;
    background-color: white;
}

.menu_list{
    color: white;
    
}

.cat_menu_list{
    display: inline-flex;
    list-style-type: none;
}

.cat_menu_list li{
    padding: 20px;
    font-size: x-large; 
}
.popular_items_block{
    width: 75%;
    margin: auto;
    
}

.pop_tov_header{
    color: white;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin: 20px 0;
}

.duv_vse{
    margin-left: 30px;
    text-decoration: none;
    
}
  
.items_block{
    margin: auto;
         
}
.single_item_block{
    background-color: #666666;
    margin: 10px;
    width: 20%;
    display: inline-block;
    align-items: center;
    vertical-align: top; 
    position: relative;
    
}

.photo_block{
    text-align: center;
    
}

.description_block{
    margin: 0 15px;
}

.item_name{
    text-align: center;
    color: white;
    margin: 10px 0;
}

.item_price{
    color: white;
    
}

.usd{
    float: left;

}

.uah{
    float: right;
}

.buttom_block{
    margin: 60px 10px 10px 10px;

}

.button{
    
    text-align: center;
}

.button_buy{
    background-color: #844CD4;
    text-transform: capitalize;
    color: white;
    padding: 10px 50px;
    border-radius: 35px;
    border: none;
    
}

.credits_type{
    position: absolute;
    top: 5px;
    left: 25px;
}
.image_credit{
   height: 20px;
   width: 20px;
   display: block;
   margin: 5px 0;
   
}
